// [data-aos] {
//   visibility: hidden;
// }
// [data-aos].aos-animate, [data-aos].animate__animated {
//   visibility: visible;
// }

@keyframes c-animate-padding {
  0% {
    padding-right: 306px;
  }
  100% {
    padding-right: 0;
  }
}
[data-aos="aos-c-animate-padding"].aos-animate {
  animation-name: c-animate-padding;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
