@blank1: #171725;
@blank2: #44444F;
@blank3: #87878F;

@gray1: #596780;
@gray2: #7B8099;

@white1: #F3F5F8;
@white2: #DDE1EB;

@blue1: #4A6AFF;
@blue2: #6E88FF;

@green1: #33C8A6;
@green2: #47DCBA;

@red1: #F33A50;

@orange1: #FF8038;

@yellow1: #FFCC3E;
