.layout {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.background {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body {
  font-size: 14px;
  font-family: PingFang SC, PingFang SC;
  font-weight: 400;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* 两行省略 */
.text-overflow {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 字体加粗 */
.hover-bold {
  &:hover {
    // bold会造成英文字体宽度变大 宽度产生抖动 因此使用text-shadow属性代替
    // font-weight: bold;
    text-shadow: 0 0 1px @topwhite;
  }
}
